body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(57,125,129);
}

#application-container {
   height: 100vh;
   display: grid;
   grid-template-rows: 100px 1fr 1fr;
   grid-template-columns: 80% 20%;
   grid-template-areas:
      "header header"
      "chat chats"
      "chat users";
}

.sidebar-section {
   margin: 0 0 20px 20px;
   overflow: scroll;
}

#user {
   margin-right: 45px;
}
